about-time==3.1.1
agate==1.6.3
aiobotocore==2.12.3
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.13.1
alive-progress==2.3.1
anyio==4.3.0
apache-airflow==2.8.2
apache-airflow-providers-common-io==1.3.0
apache-airflow-providers-common-sql==1.11.0
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-http==4.9.1
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-sqlite==3.7.1
apache-beam==2.48.0
apache-flink==1.17.2
apache-flink-libraries==1.17.2
apispec==6.4.0
appnope==0.1.3
argcomplete==3.2.2
asgiref==3.4.1
astroid==3.0.2
asttokens==2.0.5
async-timeout==4.0.3
atlassian-python-api==3.41.9
attrs==23.2.0
avro-python3==1.10.2
awscli==1.18.157
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.12.3
betterproto==1.2.5
black==22.1.0
blinker==1.7.0
boto3==1.26.165
botocore==1.29.165
build==1.2.1
CacheControl==0.14.0
cachelib==0.9.0
cachetools==5.3.3
certifi==2022.5.18.1
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==2.0.12
cleo==2.1.0
click==8.0.3
clickclick==20.10.2
cloudpickle==2.2.1
colorama==0.4.3
colorlog==4.8.0
ConfigUpdater==3.2
confluent-kafka==1.9.2
connexion==2.14.2
contourpy==1.1.1
crashtest==0.4.1
crcmod==1.7
cron-descriptor==1.4.3
croniter==2.0.1
cryptography==41.0.2
cx-Oracle==8.3.0
cycler==0.12.1
DateTime==4.4
dbt-bigquery==1.4.0
dbt-core==1.4.0
dbt-extractor==0.4.1
dbt-postgres==1.4.0
dbt-redshift==1.4.0
dbt-semantic-interfaces==0.4.4
dbt-trino==1.4.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.1.1
distlib==0.3.8
Django==3.2.7
django-braces==1.14.0
django-cleanup==5.2.0
django-crispy-forms==1.9.1
dnspython==2.6.1
docopt==0.6.2
docutils==0.15.2
dulwich==0.21.7
elementary-data==0.7.5
email-validator==1.3.1
exceptiongroup==1.2.0
executing==0.8.2
Faker==24.9.0
fastavro==1.4.12
fasteners==0.19
fastjsonschema==2.20.0
filelock==3.13.1
find_libpython==0.4.0
Flask==2.2.2
Flask-AppBuilder==4.3.11
Flask-Babel==2.0.0
Flask-Caching==2.1.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.5.1
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
fonttools==4.43.1
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
google-api-core==2.17.1
google-auth==2.28.1
google-cloud-bigquery==3.17.2
google-cloud-core==2.4.1
google-cloud-dataproc==5.9.2
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-re2==1.1
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
grapheme==0.6.0
greenlet==1.1.3
grpc-google-iam-v1==0.13.0
grpcio==1.62.0
grpcio-status==1.48.2
grpclib==0.4.7
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hdfs==2.7.3
hologram==0.0.15
hpack==4.0.0
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
hyperframe==6.0.1
identify==2.5.33
idna==3.3
importlib-metadata==6.11.0
importlib-resources==6.1.0
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
ipdb==0.13.9
ipython==8.0.1
isodate==0.6.1
isort==5.13.2
itsdangerous==2.1.2
jaraco.classes==3.4.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==0.10.0
jsonschema==3.2.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
kiwisolver==1.4.5
lazy-object-proxy==1.10.0
leather==0.4.0
limits==3.9.0
linkify-it-py==2.0.3
lockfile==0.12.2
Logbook==1.5.3
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.20.2
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.26.1
mashumaro==3.3.1
matplotlib==3.8.0
matplotlib-inline==0.1.3
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
monotonic==1.6
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==0.4.3
mysql-connector-python==8.4.0
networkx==2.8.8
nodeenv==1.8.0
numpy==1.23.2
oauthlib==3.2.2
objsize==0.6.1
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-exporter-otlp-proto-http==1.23.0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
ordered-set==4.1.0
orjson==3.10.5
packaging==24.1
pandas==2.1.1
parsedatetime==2.4
parso==0.8.3
pathspec==0.9.0
pemja==0.3.0
pendulum==3.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
pkginfo==1.11.1
platformdirs==4.1.0
pluggy==1.4.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
posthog==2.5.0
pre-commit==3.6.0
prison==0.2.1
prompt-toolkit==3.0.26
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.8
psycopg2==2.9.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.14
pydot==1.4.2
pyfiglet==1.0.2
Pygments==2.17.2
PyJWT==2.8.0
pylint==3.0.3
pymongo==4.7.3
pymssql==2.2.5
PyMySQL==1.1.1
pyparsing==3.1.1
pyproject_hooks==1.1.0
pyrsistent==0.18.1
pyspark==3.5.0
pytest==8.0.0
pytest-mock==3.14.0
pytest-parametrization==2022.2.1
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-nvd3==0.15.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.9.4
ratelimit==2.2.1
referencing==0.33.0
regex==2024.5.15
requests==2.31.0
requests-mock==1.12.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.7.0
rich-argparse==1.4.0
rpds-py==0.18.0
rsa==4.5
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3fs==2024.3.1
s3transfer==0.6.2
seaborn==0.13.0
setproctitle==1.3.3
shellingham==1.5.4
six==1.15.0
slack_sdk==3.27.1
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==1.4.51
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.2
stack-data==0.1.4
stringcase==1.2.0
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
text-unidecode==1.3
time-machine==2.13.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
traitlets==5.1.1
trino==0.321.0
trove-classifiers==2024.7.2
typing_extensions==4.10.0
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.3
unicodecsv==0.14.1
universal-pathlib==0.1.4
urllib3==1.25.10
virtualenv==20.25.0
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.16.0
WTForms==3.1.2
xattr==1.1.0
yarl==1.9.4
zipp==3.17.0
zope.interface==5.4.0
zstandard==0.22.0
